html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.top_menu {

    width: 1920px;
    height: 85px;
}

.inside_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;


}
.logo_menu {


}
.logo {
}
.logo2 {
    width: 79.565px;
    height: 23.04px;
    flex-shrink: 0;

}
.center_menu{
    display: flex;
    padding-right: 136px;

}
.center_menu ul {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.center_menu ul li{
    padding-right: 72px;


}
.center_menu ul li a{
    text-decoration: none;
    color: #292929;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.center_menu ul li:last-child{
    padding-right: 0;
}
.right_menu {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}
.text a{
    text-decoration: none;
    list-style: none;
    padding-right: 50px;
    color: #000;

    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
.menu_btn {
    white-space: nowrap;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    width: 183px;
    height: 65px;
    border-radius: 4px;
    padding: 13px 50px;
    background-color: #01996D;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
}


.header{
    min-height: 895px;
    background-image: url(images/BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.header h1{
    
    font-size: 65px;
    font-weight:bold;
    font-family: 'Georgia', serif;
    min-width: 440px;
    color: #01996D;
    margin-top: 0;
    padding-top: 175px;
    margin-bottom: 0;
    
}

.header p{
    color: #484848;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    max-width: 420px;
    line-height: 157%;
    height: 123px;
    margin-bottom: 18px;
    margin-top: 32px;
}

.header button{
    width: 227px;
    height: 65px;
    border-radius: 4px;
    padding: 20px 40px;
    background-color: #01996D;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.footer{
    background-color: #245852;
    padding: 95px 0;
}

.footer .logo{
    margin-bottom: 60px;
}
.footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}
.footer ul li a:hover{
    opacity: 0.8;
}

.footer ul li{
    margin-bottom: 60px;
}
.footer ul li:last-child{
    margin-bottom: 0px;
}
@media screen and (max-width:1024px){
    .top_menu{
        width: 100%;
    }
    .container{
        margin: 0;
       
    }
    .inside_menu{
flex-direction: column;
align-items: flex-start;

    }
    .center_menu{
        padding: 0;
    }
    .logo_menu {

    }
    .right_menu
}
@media screen and (max-width:500px) {
    .header h1{
        min-width: 0;
    }
    .center_menu ul{
        flex-direction: column;
        align-items: center;
    }
}