html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}



.top_menu {

    width: 1920px;
    height: 85px;
}

.inside_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;


}
.logo_menu {


}
.logo {
}
.logo2 {
    width: 79.565px;
    height: 23.04px;
    flex-shrink: 0;

}
.center_menu{
    display: flex;
    padding-right: 136px;

}
.center_menu ul {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}
.center_menu ul li{
    padding-right: 72px;


}
.center_menu ul li a{
    text-decoration: none;
    color: #292929;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}
.center_menu ul li a:hover{
    color: #01996D;
}
.center_menu ul li:last-child{
    padding-right: 0;
}
.right_menu {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;

}
.text a{
    text-decoration: none;
    list-style: none;
    padding-right: 50px;
    color: #000;

    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .text a:hover{
        color: #01996D;
    }
.menu_btn {
    white-space: nowrap;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 125% */
    width: 183px;
    height: 65px;
    border-radius: 4px;
    padding: 13px 50px;
    background-color: #01996D;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
}


.header{
    min-height: 895px;
    background-image: url(images/BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.header h1{
    
    font-size: 65px;
    font-weight:bold;
    font-family: 'Georgia', serif;
    min-width: 440px;
    color: #01996D;
    margin-top: 0;
    padding-top: 175px;
    margin-bottom: 0;
    text-shadow: #424242 0px 3px 10px;
    
}

.header p{
    color: #484848;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    max-width: 420px;
    line-height: 157%;
    height: 123px;
    margin-bottom: 18px;
    margin-top: 32px;
}

.header button{
    width: 227px;
    height: 65px;
    border-radius: 4px;
    padding: 20px 40px;
    background-color: #01996D;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.howitworks {
    padding-top: 146px;
   
}
.howiworks_menu{
    display: flex;
    justify-content: space-around;
}
.hoitworks_top {
    margin-right: 150px;

}
.p1_howitwors {
    color: #424242;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 157%;
    margin-bottom: 0;
}
.howitworks_h2 {
    white-space: nowrap;
    margin-top: 0;
    color: #01996D;
    font-family: Georgia;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 157%
    
}
.p2_howitworks {
    margin-top: 82px;
    color: #424242;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.steps {

}
.steps_menu{
    padding-top: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.item {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 96px;
}
.item:last-child{
    margin-right: 0;
    margin-left: 6px;
}
.item2{
    margin-top: 287px;
}
.item3{
    margin-top: 54px;
}
.number_box{

}
.number_item {
    color: rgba(1, 153, 109, 0.20);
    text-align: center;
    font-family:'Georgia';
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: relative;
}
.text_item {
    white-space: nowrap;
    color: #000;
    text-align: center;
    font-family: 'Georgia';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    position: absolute;
    top: 47px;
    left: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_item{
    margin-top: 12px;
    margin-bottom: 60px;
    color: #424242;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.p2_item{
    margin-bottom: 37px;
}
.p3_item{
    margin-top: 2px;
    margin-bottom: 49px;
}
.box_item{
    width: 390px;
    height: 492px;
    flex-shrink: 0;
    border-radius: 12px;
}
.box_item1 {
    background-image: url(images/Rectangle\ 30.png);
    position: relative;
}
.box_item2 {
    background-image: url(images/Rectangle\ 31.png);
}
.box_item3 {
    background-image: url(images/Group\ 29.png);
}
.monitor_img{
    position: absolute;
    background-image: url(images/Group\ 55.png);
    width: 185px;
    height: 148px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    top: 224px;
    left: 202px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about {
    background: #245852;
    margin-top: 11px;
    padding-bottom: 177px;
}
.container2{
    padding-left: 207px;
}
.about_flex {
    display: flex;
    justify-content: space-between;
    padding-top: 269px;
}
.about_left {
    margin-top: 40px;
}
.h2_about_text {
    color: #FFF;
    font-family: 'Georgia';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 157%;
    margin-bottom: 0px;
}
.about_text{
    color: #FFF;
    font-family: 'Lato';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 157%;
    margin-top: 33px;
}
.about_btn {
    margin-top: 31px;
    cursor: pointer;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    display: inline-flex;
    padding: 20px 50px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 4px;
    border: 1px solid #01996D;
    background: #01996D;
}
.about_right {
    width: 895.843px;
    height: 516.11px;
    flex-shrink: 0;
    border-radius: 16.333px;
    background: rgba(0, 0, 0, 0.20);
    margin-right: 206px;
    }
    .about_frame{
        width: 895.843px;
        height: 516.11px;
        flex-shrink: 0;
        border-radius: 16.333px;
        background: rgba(0, 0, 0, 0.20);
    }

    .our_product {
        margin-top: 86px;
        margin-bottom: 243px;
    }
    .product_menu {
        display: flex;
    }
    .product_left {
        margin-top: 33px;
        margin-left: 60px;
    }
    .left_img1 {
        width: 638.465px;
        height: 573.26px;
        flex-shrink: 0;
        border-radius: 18.112px;
        background: rgba(1, 153, 109, 0.20);
        background-image: url(images/Image.png);
        position: relative;
    }
    .left_card {
        position: absolute;
        background-image: url(images/Card.png);
        width: 320px;
        height: 320px;
        flex-shrink: 0;
        background-repeat: no-repeat;
        background-size: cover;
        top: 340px;
        left: -70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3.73px;
        
    }
    .product_right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:flex-start;
        margin-left: 86px;
    }
    .product_h4 {
        margin-bottom: 0;
        color: #424242;
        font-family: 'Lato';
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 157%; /* 39.25px */
    }
    .product_h2 {
        margin-top: 12px;
        margin-bottom: 0;
        color: #01996D;
    font-family: 'Georgia';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 157%; /* 78.5px */
    }
    .product_p {
        max-width: 100%;
        margin-top: 19px;
        margin-bottom: 40px;
        width: 530px;
    height: 81px;
    flex-shrink: 0;
    color: #484848;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%; /* 31.4px */
    }
    .product_btn {
        cursor: pointer;
        display: inline-flex;
        padding: 20px 50px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        color: #FFF;
        font-family: 'Lato';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 125% */
        border-radius: 4px;
        border: 1px solid #01996D;
        background: #01996D;
    }
    


.footer{
    background-color: #245852;
    padding: 95px 0;
}

.footer .logo{
    margin-top: 8px;
    margin-bottom: 60px;
}
.footer ul{
    
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 12px;
}

.footer ul li a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}
.footer ul li a:hover{
    opacity: 0.8;
}

.footer ul li{
    margin-bottom: 60px;
}
.footer ul li:last-child{
    margin-bottom: 0px;
}
.btn_one{
    box-shadow: 0 5px 0 #01996D;
    transition: .3s;
}
.btn_one:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #424242;
  }
@media screen and (max-width:1024px){
    .top_menu{
        width: 100%;
    }
    .container{
        margin: 0;
       
    }
    .inside_menu{
flex-direction: column;
align-items: flex-start;

    }
    .center_menu{
        padding: 0;
    }
    .howiworks_menu{
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    .steps_menu{
        grid-template-columns: 1fr;
    }
    .item{
        padding-bottom: 0;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .container2{
        padding: 0;
    }
    .about_right{
        width: 100%;
    }
    .about_frame{
        width: 100%;
    }
    .about_flex{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
    }
    .product_menu{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0;
    }
    .product_left{
        
        margin: 0;
        padding: 0;
    }
    .product_right{
        
        margin: 0;
        padding: 0;
        
    }
}
@media screen and (max-width:500px) {
    .header h1{
        min-width: 0;
    }
    .center_menu ul{
        flex-direction: column;
        align-items: center;
    }
    .howitworks_h2{
        white-space: wrap;
    }
    .text_item{
        white-space: wrap;
    }
    .p3_item{
        white-space: wrap;
        width: 50%;
    }
    .product_left{
        max-width: 400px;
        margin: 0;
        padding: 0;
    }
    .product_right{
        max-width: 400px;
        margin: 0;
        padding: 0;
        
    }
    .product_h4{
        white-space: wrap;
        font-size: 10px;
    }
    .left_img1{
        width: 100%;
    }
    .left_card{
        display: none;
    }
    .product_p{
        max-width: 350px;
        width: 100%;
        white-space: wrap;
        font-size: 16px;
    }
    .about_flex{
        max-width: 350px;
    }

}
@media screen and (max-width:400px){
.box_item{
    width: 70%;
}
.monitor_img{
    display: none;
}}